.tip-move {
  font-weight: bolder;
  font-size: larger;
}

.working {
  /* color: greenyellow; */
  color: red;
}

.tip-info {
  border: none;
  font-weight: bolder;
  font-size: larger;
  text-align: center;
  padding: 3px 20px 3px 4px;
  border-bottom: 1px solid #404040;
}

.tips-content {
  overflow-x: hidden;
  overflow-y: auto;
  background-size: 30%;
  background-repeat: no-repeat;
  background-position: center center;
}

ul.tip {
  overflow-y: auto;
  flex: 1 1 auto;
  padding: 0.5em 0 0.5em 10px;
}

.no-tips {
  flex: 1 1 auto;
  padding: 0.5em 0 0.5em 10px;
}

#tip-wait {
  padding-left: 3px;
}
