.tip-square {
  opacity: 0.5;
  /* border-radius: 15px; */
}
/*
.square-from {
  background-color: #fd6500;
}
.square-to {
  background-color: #2c04e0;  
}
*/

.tip-move {
  font-weight: bolder;
  font-size: larger;
}

.working {
  color: greenyellow;
}

button#tips-refresh.fbt {
  line-height: 1em;
}

.tip-info {
  border: none;
  font-weight: bolder;
  font-size: larger;
  text-align: center;
  padding: 3px 20px 3px 4px;
  border-bottom: 1px solid #404040;
}

.tips-content {
  overflow-x: hidden;
  overflow-y: auto;
  background-size: 30%;
  background-repeat: no-repeat;
  background-position: center center;
}

ul.tip {
  overflow-y: auto;
  flex: 1 1 auto;
  padding: 0.5em 0 0.5em 10px;
}

.no-tips {
  flex: 1 1 auto;
  padding: 0.5em 0 0.5em 10px;
}

#tip-wait {
  padding-left: 3px;
}
